{% extends 'base-Professor.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container">
            <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                  <span class="badge badge-pill badge-success">Success</span> You successfully logged in {{ user.username }}.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

      <!-- Page Heading -->
      <h1 >Les Examens
      </h1>

      <!-- Project One -->

    {% for exam in all_exam %}

<br>


      <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{{Exam.logo.url}}" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>{{exam.name}}</h3>
            <p>{{exam.name}}</p>
            <a class="btn btn-primary" href="/exam/{{exam.id}}">CONSULT THE EXAM</a>
            <a class="btn btn-primary" href="/exam/{{exam.id}}/edit">EDIT THE EXAM</a>


        </div>
      </div><hr>
      <!-- /.row -->
{%endfor%}




      <hr>

      <!-- Pagination -->

    </div>
    <!-- /.container -->
{% endblock %}