{% extends 'exams/baseProfessor.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}

<!-- Page Content -->
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-xs-12 col-sm-12">
                <form method="POST" action="" enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="card">
                        <div class="card-header">
                            <div class="col-lg-6 ">
                                <strong>Add Question</strong></div>

                        </div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                <label class=" form-control-label">Description: :</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                    <input class="form-control" name="Description">
                                </div>
                                <small class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <label class=" form-control-label">Header text</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                    <input class="form-control" name="Header">
                                </div>
                                <small class="form-text text-muted">ex. (999) 999-9999</small>
                            </div>
                            <div class="form-group">
                                <label class=" form-control-label">Footer text</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-phone"></i></div>
                                    <input class="form-control" name="Footer">
                                </div>
                                <small class="form-text text-muted">ex. (999) 999-9999</small>
                            </div>

                            <div class="form-group">
                                <label class=" form-control-label">Success msg</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                                    <input class="form-control" name="Success">
                                </div>
                                <small class="form-text text-muted">ex. 99-9999999</small>
                            </div>
                            <div class="form-group">
                                <label class=" form-control-label">fail msg</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                                    <input class="form-control" name="Fail">
                                </div>
                                <small class="form-text text-muted">ex. 99-9999999</small>
                            </div>
                            <div class="form-group">
                                <label class=" form-control-label">points</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-usd"></i></div>
                                    <input class="form-control" type="number" name="points">
                                </div>
                                <small class="form-text text-muted">ex. 99-9999999</small>
                            </div>


                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Question Type</strong>
                        </div>
                        <div class="card-body">

                            <select data-placeholder="Choose a type..." class="standardSelect" tabindex="1" id="typ"
                                    name="type" onchange="type()">
                                <option value=""></option>
                                <option value="one">one answer</option>
                                <option value="multi">multiple answer</option>
                                <option value="free">Free Text</option>

                            </select>
                        </div>
                    </div>
                    <div class="card" id="one">
                        <div class="card-header">
                            <strong class="card-title">One Answer Question</strong>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">answer variant</th>
                                    <th scope="col">answer description</th>
                                    <th scope="col">points</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td><input type="text" class="form-control" name="answer_variant1"></td>
                                    <td><input type="text" class="form-control" name="answer_description1"></td>
                                    <td><input type="number" class="form-control" name="answer_points1"></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td><input type="text" class="form-control" name="answer_variant2"></td>
                                    <td><input type="text" class="form-control" name="answer_description2"></td>
                                    <td><input type="number" class="form-control" name="answer_points2"></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td><input type="text" class="form-control" name="answer_variant3"></td>
                                    <td><input type="text" class="form-control" name="answer_description3"></td>
                                    <td><input type="number" class="form-control" name="answer_points3"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>


                    <div class="card" id="mult">

                        <div class="card-header">
                            <strong class="card-title">MultiAnswer Question</strong>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">answer variant</th>
                                    <th scope="col">answer description</th>
                                    <th scope="col">points</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td><input type="text" class="form-control" name="answer_variantm1"></td>
                                    <td><input type="text" class="form-control" name="answer_descriptionm1"></td>
                                    <td><input type="number" class="form-control" name="pointsm1"></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td><input type="text" class="form-control" name="answer_variantm2"></td>
                                    <td><input type="text" class="form-control" name="answer_descriptionm2"></td>
                                    <td><input type="number" class="form-control" name="pointsm2"></td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td><input type="text" class="form-control" name="answer_variantm3"></td>
                                    <td><input type="text" class="form-control" name="answer_descriptionm3"></td>
                                    <td><input type="number" class="form-control" name="pointsm3"></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="card" id="free">
                        <div class="card-header">
                            <strong class="card-title">Free Text Question</strong>
                        </div>
                        <div class="card-body">

                            <textarea class="form-control" placeholder="The Text ..." name="text"></textarea>
                        </div>
                    </div>
                    <center>
                        <button class="btn btn-success btn-lg" type="submit" name="submit">Create</button>
                    </center>
                    <br><br>
                    <hr>
                </form>
            </div>


        </div>


    </div><!-- .animated -->
</div><!-- .content -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
 $('#one').hide();
  $('#mult').hide();
   $('#free').hide();
$('#typ').change(function(){
 if ( $("#typ").val() == "one" ){ $('#one').show();$('#mult').hide();$('#free').hide();}
    if ( $("#typ").val() == "multiple" ){$('#mult').show(); $('#one').hide();$('#free').hide();}
    if ( $("#typ").val() == "free" ){$('#free').show(); $('#mult').hide();$('#one').hide();}

});
});



</script>
<!-- /.container -->
{% endblock %}