{% extends 'exams/baseProfessor.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="content mt-3">
            <div class="animated fadeIn">
                <form method="POST" action="/quiz/createQuest/" enctype="multipart/form-data">

                <div class="row">

                        <div class="col-xs-6 col-sm-6">
                                 {%csrf_token%}
                            <div class="card">
                                <div class="card-header">
                                    <strong>Create Exam</strong>
                                </div>
                                <div class="card-body card-block">
                                    <div class="form-group">
                                        <label class=" form-control-label">Name :</label>
                                        <div class="input-group">
                                            <input class="form-control" name="examName"
                                                   placeholder="write name of exam here...">
                                        </div>
                                        <small class="form-text text-muted"></small>
                                    </div>
                                    <div class="form-group">
                                        <label  class=" form-control-label">Description</label>
                                        <div class="input-group">
                                            <textarea name="ExamDesc" id="ExamDesc" rows="9"
                                                      placeholder="Describe the exam here..."
                                                      class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class=" form-control-label">Logo :</label>
                                        <div class="input-group">
                                            <input class="form-control" type="file" name="logo">
                                        </div>
                                    </div>


                                </div>
                            </div>


                        </div>


  <div class="col-lg-6">

                                <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Category</strong>
                                </div>
                                <div class="card-body">

                                      <select data-placeholder="Choose a Category..." class="standardSelect" tabindex="1" name="category">
                                        <option value=""></option>
                                          <option value="Web">WEB</option>
                                          <option value="mobile">IOT</option>
                                          <option value="embarqué">devops</option>
                                          <option value="electronic">IOT</option>

                                    </select>
                                </div>
                            </div>
                              <br><br>

                                <center>    <button class="btn btn-success btn-lg" type="submit" name="submit" >Create</button>
                             </center>
                  </div>

                </div>
</form>


            </div><!-- .animated -->
        </div><!-- .content -->

    <!-- /.container -->
{% endblock %}
