{% extends 'exams/baseProfessor.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="content mt-3">
        <div class="animated fadeIn">
            <form method="POST" action="" enctype="multipart/form-data">

                <div class="row">

                    <div class="col-xs-6 col-sm-6">
                        {%csrf_token%}
                        <div class="card">
                            <div class="card-header">
                                <strong>Edit Exam</strong>
                            </div>
                            <div class="card-body card-block">
                                <div class="form-group">
                                    <label class=" form-control-label">Name :</label>
                                    <div class="input-group">
                                        <input class="form-control" name="examName" value="{{exam.name}}">
                                    </div>
                                    <small class="form-text text-muted"></small>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Description</label>
                                    <div class="input-group">
                                        <textarea name="examDesc" id="ExamDesc" rows="9" value="{{exam.description}}"
                                                  class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Timer :</label>
                                    <div class="input-group">
                                        <input class="form-control" name="timer"
                                               placeholder="write timer of exam here...">
                                    </div>
                                    <small class="form-text text-muted"></small>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Score :</label>
                                    <div class="input-group">
                                        <input class="form-control" name="score"
                                               placeholder="write score of exam here...">
                                    </div>
                                    <small class="form-text text-muted"></small>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Logo :</label>
                                    <div class="input-group">
                                        <input class="form-control" type="file" name="logo" id="logo"
                                               value="{{exam.logo}}">
                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>


                    <div class="col-lg-6">

                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Category</strong>
                            </div>
                            <div class="card-body">

                                <select data-placeholder="{{exam.category}}" class="standardSelect" tabindex="1"
                                        name="category">
                                    <option value="{{exam.category}}"></option>
                                    <option value="WEB">WEB</option>
                                    <option value="IOT">IOT</option>
                                    <option value="devops">devops</option>
                                    <option value="United Kingdom">IOT</option>

                                </select>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Mode</strong>
                            </div>
                            <div class="card-body">

                                <select data-placeholder="Choose mode of exam..." class="standardSelect" tabindex="1"
                                        name="mode">
                                    <option value=""></option>
                                    <option value="Training">Training</option>
                                    <option value="ExamC">Exam with certif</option>
                                    <option value="Exam">Exam without certif</option>

                                </select>
                            </div>
                        </div>
                        <br><br>

                        <center>
                            <button class="btn btn-success btn-lg" type="submit" name="submit">Update</button>
                        </center>
                    </div>

                </div>
            </form>


        </div><!-- .animated -->
    </div><!-- .content -->

    <!-- Project One -->


    <!-- Pagination -->

</div>
<!-- /.container -->
{% endblock %}
