{% extends 'exams/baseProfessor.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}

<div class="col-lg-8">


    <div class="card">
        <div class="card-header">
            <h4>Exam {{examen.name}}</h4>
        </div>
        <div class="card-body">

            <form method="post" action="{{i}}" enctype="multipart/form-data">


                {%csrf_token%}
                <input type="hidden" value="{{question.id}}" name="id">

                {%if quest.multichoice_set.all %}
                <div class="col col-md-3"><label class=" form-control-label">{{quest.question_text}}</label></div>
                <div class="col col-md-9">
                    <div class="form-check">
                        {%for choix in quest.multichoice_set.all %}
                        <div class="radio">
                            <label for="{{choix.id}}" class="form-check-label ">
                                <input type="checkbox" name="radiosM" value="{{choix.id}}" class="form-check-input">{{choix.multi_variant}}
                            </label>
                        </div>

                        {%endfor%}

                    </div>
                </div>

                {%endif%}
                {%if quest.one_answer_set.all %}
                <div class="col col-md-3"><label class=" form-control-label">{{quest.question_text}}</label></div>
                <div class="col col-md-9">
                    <div class="form-check">
                        {%for choix in quest.one_answer_set.all %}
                        <div class="radio">
                            <label for="{{choix.id}}" class="form-check-label ">
                                <input type="radio" id="{{choix.id}}" name="radios" value="{{choix.id}}"
                                       class="form-check-input">{{choix.answer_variant}}
                            </label>
                        </div>

                        {%endfor%}
                        <a href="#{{question.id}}" class="btn btn-block ">{{forloop.counter}}</a>

                    </div>
                </div>

                {%endif%}
                {%if quest.free_text_set.all %}


                {%for choix in quest.free_text_set.all %}
                <div class="row form-group">
                    <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">{{quest.question_text}}</label>
                    </div>
                    <div class="col-12 col-md-9"><textarea name="text" id="textarea-input" rows="9"
                                                           placeholder="Content..." class="form-control"></textarea>
                    </div>

                </div>

                <br>{%endfor%}


                {%endif%}
                <br>
                <center><input type="submit" value="submit" class="btn btn-danger" name="submit">

                    <!--<a tabindex="0" class="btn btn-lg btn-danger" role="button" data-toggle="popover" data-trigger="focus" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">Dismissible popover</a>-->
                    <!--<button class="btn btn-success" name="answer">Correct answer</button>-->
                    <!--</a>-->
                    <button id="myBtn" type="button" class="btn btn-success">Correct answer</button>

                    <!-- The Modal -->
                    <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>The correct answer is:</p><br>
                            <p>{{quest.success_message}}</p>
                        </div>

                    </div>

                </center>


            </form>


        </div>
    </div>
</div>
<div class="col-lg-4">
    <div class="card">
        <div class="card-header">
            <strong>Questions</strong>
        </div>
        <div class="card-body">
            {% for qu in liste %}
            {% for index in bliste %}
            {% if forloop.counter == forloop.parentloop.counter %}
            {% if index %}
            <a href="{{qu}}" class="btn  btn-success" style="margin:3px">{{forloop.parentloop.counter}}</a>
            {% else %}
            <a href="{{qu}}" class="btn  btn-danger" style="margin:3px">{{forloop.parentloop.counter}}</a>
            {% endif%}
            {% endif %}
            {% endfor %}
            {%endfor%}

        </div>
    </div>
</div>
<center><a href="/quiz/{{examen_id}}/result" class="btn btn-block btn-primary">Finish</a></center>
<p id="demo"></p>


<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}




</script>

{% endblock %}
