{% extends 'exams/baseProfessor.html' %}

{% block title %}Quiz{% endblock %}

{% block content %}

{% load staticfiles %}
<form method="post">
    {%csrf_token%}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="col-lg-6">
                    <strong class="card-title">{{user.username}} </strong></div>
            </div>
            <div class="card-body">
                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>exam name</th>
                        <th>Description</th>
                        <th>logo</th>
                        <th>consult</th>
                        <th>edit</th>
                        <th>add</th>
                        <th>delete</th>

                    </tr>
                    </thead>


                    <tbody> {% for exam in all_exams %}
                    <tr>
                        <td>{{exam.name}}</td>
                        <td>{{exam.description}}</td>
                        <td>
                            <center><img class="align-self-center mr-3" style="width:85px; height:85px;" alt=""
                                         src="{{exam.logo.url}}">
                            </center>
                        </td>

                        <td><a href="/quiz/{{exam.id}}"> <i class="fa fa-file-pdf-o"></i> Consult Exam <span
                                class="badge badge-primary pull-right"></span></a>
                        </td>
                        <td><a href="/quiz/{{exam.id}}/editExam"> <i class="fa fa-edit"></i> Edit Exam <span
                                class="badge badge-danger pull-right"></span></a>
                        </td>
                        <td><a href="/quiz/{{exam.id}}/addQuest"> <i class="fa fa-plus-circle"></i> Add Question <span
                                class="badge badge-success pull-right"></span></a>
                        </td>
                        <td><a href="/quiz/{{exam.id}}/deleteEXam"> <i class="fa fa-remove"></i> Delete Exam <span
                                class="badge badge-warning pull-right r-activity"></span></a>
                        </td>
                    </tr>
                    {%endfor%}
                    </tbody>


                </table>
            </div>
        </div>
    </div>
</form>
<script src="{%static 'assets/js/lib/data-table/datatables.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/dataTables.bootstrap.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/dataTables.buttons.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/buttons.bootstrap.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/jszip.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/pdfmake.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/vfs_fonts.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/buttons.html5.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/buttons.print.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/buttons.colVis.min.js'%}"></script>
<script src="{%static 'assets/js/lib/data-table/datatables-init.js'%}"></script>
{% endblock %}